apiVersion: v1
kind: ConfigMap
metadata:
  name: game-demo
data:
  DEMO_GREETING: "Hello from the environment"
  DEMO_FAREWELL: "Such a sweet sorrow"
---
apiVersion: v1
kind: Pod
metadata:
  name: envar-demo
  labels:
    purpose: demonstrate-envars
spec:
  containers:
    - name: envar-demo-container
      image: gcr.io/google-samples/hello-app:2.0
      env:
        - name: DEMO_GREETING
          valueFrom:
            configMapKeyRef:
              name: game-demo
              key: DEMO_GREETING
        - name: DEMO_FAREWELL
          valueFrom:
            configMapKeyRef:
              name: game-demo
              key: DEMO_FAREWELL
---
apiVersion: v1
kind: Pod
metadata:
  name: envar-demo1
  labels:
    purpose: demonstrate-envars
spec:
  containers:
    - name: envar-demo-container
      image: gcr.io/google-samples/hello-app:2.0
      envFrom:
        - configMapRef:
            name: game-demo